<div>
  <h1>{{title}}</h1>
  <div class="field grid">
    <label for="message" class="col-fixed" style="width:100px">Nachricht</label>
    <div class="col">
      <input id="message" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
    </div>
  </div>
  <div class="field grid">
    <label for="losungswort" class="col-fixed" style="width:100px">Losungswort</label>
    <div class="col">
      <input id="losungswort" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
    </div>
  </div>
  // BUTTON TO ENCODE
  <button type="button" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Submit</button>

  <div class="field grid">
    <label for="verschluesselte-nachricht" class="col-fixed" style="width:100px">Verschlüsselte Nachricht</label>
    <div class="col">
      <input id="verschluesselte-nachricht" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
    </div>
  </div>
  // CLEARING FUNCTION
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</div>
