<app-card
  title="Encode"
>
  <span class="p-float-label" inputArea>
    <textarea
      id="input"
      rows="5"
      cols="30"
      pInputTextarea [autoResize]="true"
      [(ngModel)]="input"
      [style]="{width: '100%'}"
    >{{input}}
    </textarea>
    <label for="input">Type in your message</label>
  </span>

  <span class="p-float-label" losungswortInput>
    <input id="losungswort"
           type="text"
           pInputText
           [(ngModel)]="losungswort"
           [style]="{width: '100%'}"
    >
    <label for="losungswort">losungswort</label>
  </span>

  <p-message
    *ngIf="showError"
    severity="error"
    text="Losungswort may only contain capital letters and spaces."
    error>
  </p-message>


  <button
    submitButton
    pButton
    class="p-button"
    type="button"
    label="Encode"
    icon="pi pi-lock"
    (click)="encodeMessage()"
  ></button>

  <span class="p-float-label" outputArea>
          <textarea
            id="output"
            rows="5"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="output"
            [style]="{width: '100%'}"
          >{{output}}
          </textarea>
          <label for="output">Encoded message</label>
        </span>

  <button
    cardFooter
    pButton
    class="p-button-outlined p-button-success"
    label="Copy encoded message"
    icon="pi pi-copy"
    (click)="copyText()"
  ></button>
</app-card>
